@media screen and (max-width: 640px) {
    :root {
        --text-color: rgb(57, 65, 120);
        --light-color: rgb(251, 249, 249);
        --lighter-color: #f6f4f4;
        --dark-color: #333333;
    }
    
    
    * {
        text-align: center;
        -border: 3px solid black;
        -box-sizing: content-box;
        -font-family: san 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-family: 'Times New Roman', Times, serif;
    
        font-size: medium;
    }
    
    
    h1, h2 {
        font-size: 3em;
        text-align: center;
        color: var(--text-color);
    }
    
    
    body {
        -background-image: url('../../files/signature/dq-signature.png');
        background-color: var(--default-color);
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    
    header, section, form, footer {
        background-color: white;
    }


    section {
        min-height: 5cm;
    }






    #topNav {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: small;
        background-color: #333333;
        opacity: 0.9;
        height: 2.8em;
        z-index: 2;
        position: sticky;
        top: 0px;
    }


    #hamburger {
      visibility: visible;
      display: flex;
      justify-content: flex-end;
      filter: invert(.8);
    }


    #topNav:hover {
        background-color: black;
    }


    #topNav a {
        visibility: hidden;
    }

    #opening {
        display: none;
    }
    

    #wrapper {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(1, 2vw);
        gap: .5vh;
        grid-auto-rows: 2vh;        
        grid-template-areas:
            "a"
            "a"
            "b"
            "c"; */
        background-image: "./assets/media/flower.jpeg";
    }
    
    
    
    
    
    #wrapper #signature-wrapper, #flower-wrapper {
        margin-top: 5vh;
        max-width: 100vw;
    }


    #flower-wrapper {
        border: 8px solid var(--lighter-color);
        border-radius: 100%;
    }
    

    #wrapper-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;

        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;

        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    #wrapper-links img, #contact-links img {
        height: 12vw;
        border: 2px solid var(--dark-color);
        border-radius: 12px;
        padding: 2vw;
    }



    #wrapper-links img:hover, #contact-links img:hover {
        transform: scale(1.3);
        transition: transform 0.2s;
        background-color: var(--default-background);
    }







    #Projects iframe {
        max-width: 100vw;
        height: 70vh;
    }
    
    
    #Projects video {
        max-height: 70vh;
    }
    
    
    .projects-gallery {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        overflow-x: scroll;
    }
    
    .projects-fig {
        padding: .7rem;
        background-color: #636363;
        color: #d9d9d9;
    }












  
    #About-Me img, #About-Me video {
        max-height: 40vh;
    }


    .about-gallery {
        display: flex;
        flex-wrap: nowrap;
        background-color: #f0f0f0;
        overflow-x: scroll;
    }









    #sleeping-seal {
        max-width: 100vw;
    }

  }