@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --text-color: rgb(57, 65, 120);
    --light-color: rgb(251, 249, 249);
    --lighter-color: #f6f4f4;
    --dark-color: #333333;
}


* {
    text-align: center;
    -border: 3px solid black;
    -box-sizing: content-box;
    -font-family: san 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    scroll-behavior: smooth;
}


h1, h2 {
    font-size: 3em;
    text-align: center;
    color: var(--text-color);
    animation: linear;
}


body {
    -background-image: url('../../files/signature/dq-signature.png');
    background-color: var(--light-color);
    margin: 0;
    margin-top: 3em;
    overflow-x: hidden;
}


header, section, form, footer {
    background-color: white;
}


section {
    min-height: 6cm;
}




#hamburger {
    visibility: hidden;
    width: 0;
}

#topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: #333333;
    opacity: 0.9;
    height: 3em;
    z-index: 2;

    position: fixed;
    width: 100%;
    top: 0;
}




#topNav a {
    color: rgb(209, 207, 207);
    text-decoration: none;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    transition: all 0.2s ease-in;
    height: 100%;

}


#topNav a:hover {

    color: red;
    background-color: white;
}


#opening {
    text-align: center;
    display: grid;
    justify-content: center;    
}


#opening tbody, tr, td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}


#opening #signature, #flower {
    max-width: 50vw;
}


#header-links, #contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#header-links img, #contact-links img {
    height: 3rem;
}


#header-links img:hover, #contact-links img:hover {
    transform: scale(1.3);
    transition: transform 0.2s;
}


header.img {
    width: 30%;
}

table img {
    margin: 0;
    padding: 0;
}




body {
}



#Projects iframe {
    width: 80vw;
    height: 70vh;
}


#Projects video {
    max-height: 70vh;
}


.projects-gallery {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: scroll;
}

.projects-fig {
    padding: .7rem;
    background-color: #636363;
    color: #d9d9d9;
}




#About-Me img, #About-Me video {
    height: 40vh;
    width: auto;
}


.about-gallery figure {
    margin: 0;
}



@media screen and (hover: none) {

    .about-gallery {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        overflow-x: scroll;
    }

    #header-links img, #contact-links img {
        border: 3px solid var(--dark-color);
        border-radius: 12px;
        padding: 1em;
    }
    

}



@media screen and (hover: hover) {

    .about-gallery {
        display: grid;
        justify-content: start;
    
        grid-auto-flow: column;
        width: 100%;
        grid-template-columns: repeat(8, 30vh);
        transition: ease-in-out .25s;
        -transition: width 1s, height 1s;
    }
    
    
    .about-gallery figcaption {
        color: black;
        display: none;
    }
    
    .about-gallery:hover {
        grid-template-columns: repeat(8, auto);
        align-items:first baseline;
        background-color: #f0f0f0;
        overflow-x: scroll;

        grid-gap: 0px 10px;

    
    
        /* display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        overflow-x: scroll; */
    
    }
    
    
    .about-gallery:hover figcaption {
        display: block;
    }

}


  


#Contact-Me {
    color: rgb(233, 232, 232);
}


a {
    color: rgb(81, 81, 211);
    text-decoration: none;
}



footer {
}
















@media screen and (min-width: 1990px) {


    body {
        margin-top: 0;
        margin-left: 5em;
    }
    #hamburger {
    visibility: hidden;
    height: 0;
}

    #topNav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        background-color: #333333;
        opacity: 0.9;
        z-index: 2;

        position: fixed;
        height: 100%;
        width: 5em;
        top: 0;
        left: 0px;
    }


    #topNav:hover {
    }
    
    
    #topNav a {
        color: rgb(209, 207, 207);
        text-decoration: none;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
        transition: all 0.2s ease-in;
        height: 100%;

    }
    
    
    #topNav a:hover {
        color: red;
        background-color: white;
    }

    #header-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;
    }

    #contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;
    }
    
    #header-links img, #contact-links img {
        height: 3em;
    }
  }


  #Contact-Me {
}



