* {

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10%;
    background-color: darksalmon;
}


#blogs {
    padding: 2rem;
    border: 2px solid black;
}


#add-button {
    background-color: beige;
    margin: 5em;
}




.blog-text {
    border: 2px dotted black;
}

.blog-data {
    border: 2px solid darkslategray;
    padding: 2rem;
}


