:root {
    --text-color: rgb(57, 65, 120);
    --light-color: rgb(251, 249, 249);
    --lighter-color: #f6f4f4;
    --dark-color: #333333;
}


* {
    text-align: center;
    -border: 3px solid black;
    -box-sizing: content-box;
    -font-family: san 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Times New Roman', Times, serif;

    font-size: medium;
    scroll-behavior: smooth;
}


h1, h2 {
    font-size: 3em;
    text-align: center;
    color: var(--text-color);
}


body {
    -background-image: url('../../files/signature/dq-signature.png');
    background-color: var(--light-color);
    margin: 0;
    overflow-x: hidden;
}


header, section, form, footer {
    background-color: white;
}

#topNav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: small;
    background-color: var(--dark-color);
    opacity: 0.9;
    height: 2.8em;
    z-index: 2;
    position: sticky;
    top: 0px;
}

#hamburger {
    visibility: hidden;
}


#topNav:hover {
    opacity: 1;
    transition: transform(0.2s);
}


#topNav a {
    color: rgb(209, 207, 207);
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: small;
    padding-top: 0.8em;   
}


#topNav a:hover {
    transform: scale(1.3);
    transition: transform 0.2s;
    color: var(--lighter-color);
}


#opening {
    text-align: center;
    display: grid;
    justify-content: center;    
}


#opening tbody, tr, td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}


#opening #signature, #flower {
    max-width: 50vw;
}


#header-links, #contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#header-links img, #contact-links img {
    height: 3rem;
}


#header-links img:hover, #contact-links img:hover {
    transform: scale(1.3);
    transition: transform 0.2s;
}


header.img {
    width: 30%;
}

table img {
    margin: 0;
    padding: 0;
}




body {
}



#Projects iframe {
    width: 80vw;
    height: 70vh;
}


#Projects video {
    max-height: 70vh;
}


.projects-gallery {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: scroll;
}

.projects-fig {
    padding: .7rem;
    background-color: #636363;
    color: #d9d9d9;
}


#About-Me img, #About-Me video {
    height: 40vh;
}


.about-gallery {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: scroll;
}
  
 .about-fig {
    padding: .5rem;
    background-color: #636363;
    color: #d9d9d9;
}


  /* @media screen and (min-width: 800px) {
    .education-gallery {
      flex-wrap: wrap;
      padding: 1rem 0;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      height: 60vh;
    }
  
    .education-fig {
      scroll-snap-align: start;
    }
  } */


#Contact-Me {
    color: rgb(233, 232, 232);
}


a {
    color: rgb(81, 81, 211);
    text-decoration: none;
}



footer {
}
















@media screen and (min-width: 2000px) {
    #hamburger {
    visibility: hidden;
}

    #topNav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        background-color: #333333;
        opacity: 0.9;
        z-index: 2;

        position: fixed;
        height: 100%;
        top: 0;
        left: 0px;
    }


    #topNav:hover {
        opacity: 1;
        transition: transform(0.2s);
    }
    
    
    #topNav a {
        color: rgb(209, 207, 207);
        text-decoration: none;
        width: 100%;
        text-align: center;
        font-size: medium;
    }
    
    
    #topNav a:hover {
        transform: scale(1.3);
        transition: transform 0.2s;
        color: #f6f4f4;
    }

    #header-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;
    }

    #contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;
    }
    
    #header-links img, #contact-links img {
        height: 3em;
    }
  
    #Education img, #Education video, #About-Me img, #About-Me video {
        max-height: 100vh;
        max-width: 100vw;
    }

  }

